
:root{
  --backcombing: #436E7C;
  --blackhead: #321035;
  --blackfoot:#000000;
  --whiteword:#FFFDFF;
}

body { background-color: var(--backcombing); }

header { background-color: var(--blackhead); }

    .header > img{
        border-radius: 25px;
        padding: 20px;
        width: 100px;
        height: 100px;
    }

    .flex-container {
        display: flex;
        background-color: var(--backcombing);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
      }
      
      .flex-container > section {
        margin: 10px;
        padding: 20px;
      }

foot{
    background-color: var(--blackfoot);
    color: var(--whiteword);
    align-items: stretch;
      }

    